<h1>This app was made by</h1>

<%= link_to "Jake Short", "https://github.com/jrshort89", :target => '_blank'%><br>
<%= link_to "Mauro Dorigo", "https://github.com/purisquiri", :target => '_blank'%><br><br>

<%= link_to "go to index", legos_path%>